*.iml
.gradle/
.kotlin/
build/
/local.properties
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore
keystore.properties
output.json
build_bundle.txt
build_ks.txt
build_rel.txt
plugins_opencode.xlsx
